.spinner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner-container .spinner {
  font-size: 2em;
}

.spinner-container .spinner__leter {
  font-weight: light;
  position: relative;
  color: rgba(188, 188, 188, 0.25);
  text-transform: uppercase;
}

.spinner-container .spinner__leter:before {
  content: attr(data-letter);
  position: absolute;
  top: 0;
  left: 0;
  /* color: #333;  */
  background: #9c27b0;
  background: linear-gradient(to right, #9c27b0 0%, #2196f3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: load-animation 2.8s infinite;
  animation-fill-mode: backwards;
  text-transform: uppercase;
}

/* Dark mode styles */
.dark .spinner-container .spinner__leter:before {
  color: #fff; /* White text for dark mode */
}

.spinner-container .spinner__leter:nth-child(2):before {
  animation-delay: 0.4s;
}

.spinner-container .spinner__leter:nth-child(3):before {
  animation-delay: 0.8s;
}

.spinner-container .spinner__leter:nth-child(4):before {
  animation-delay: 1.2s;
}

.spinner-container .spinner__leter:nth-child(5):before {
  animation-delay: 1.6s;
}

.spinner-container .spinner__leter:nth-child(6):before {
  animation-delay: 2s;
}

.spinner-container .spinner__leter:nth-child(7):before {
  animation-delay: 2.4s;
}

@keyframes load-animation {
  0%,
  80%,
  to {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
  20%,
  50% {
    transform: rotateY(0);
    opacity: 1;
  }
}
